@charset "UTF-8";

@font-face
{
    font-family: "shingoR";
    src: url("fonts/f1.otf") format("opentype");
}

body
{
    margin: 0;
    background-color: #655153;
    font-family: "shingoR","meiryo";
    font-size: 0;
}

.wrap
{
    width: 1000px;
    margin: auto;
    padding-top: 200px;
}

.port
{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: rgba(255,255,255,.1);
    overflow: hidden;
}

.port-wrap
{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.input-area
{
    display: inline-block;
    width: 500px;
    height: 400px;
}

.entry
{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0 50px 0 50px;
    padding: 0;
    transition: background-color .5s;
}

.correct
{
    color: #ef94ba;
}

.ibox
{
    font-family: "shingoR";
    color: #f6f2f3;
    background-color: rgba(0,0,0,0);
    border: none;
}

.ibox::placeholder
{
    color: rgba(240,150,189,.3);
}

.ibox:focus
{
    outline: none;
}

.src-img
{
    width: 0;
    height: 0;
    display: none;
}

.completing
{
    /*background-color: #f6f2f3;*/
    animation: .5s completing 0s 1 forwards,.5s fadeout .5s 1 forwards;
}

@keyframes completing
{
    from
    {
        background-color: rgba(0,0,0,0);
    }

    to
    {
        background-color: #f6f2f3;
    }
}

@keyframes fadeout
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}